@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #ffffff;
    --color-secondary: #ff9900;
    --color-secondary-light: #ffac2f;
    --color-text: #000;
    --color-input: #b3b3b3;
    --color-highlights: #eaeaea;
    --color-highlights-light: #efefef;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

#marquee-text {
  padding: 0.1rem 0;
  display: inline-block;
  animation: 15s marquee infinite linear;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
